Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Market assets
Content/EuropeanHornbeam
Content/Megascans
Content/MSPresets
Content/PN_FoliageCollection
Content/MonsterForSurvivalGame
Content/Scene_Bazaar_Vol1
Content/Scene_QuarrySlate
Content/__ExternalActors__/
Content/Drakonit_monster/
